.vs/
.sass-cache/
.tscache/
node_modules/
csx/
rcf/
Backup/
lib/packages/
obj/
bin/
$RECYCLE.BIN/

.idea/

/artifacts/
/FodyWeavers.xml
/Directory.Build.props

build/tools/*
!build/tools/packages.config
!build/tools/nuget.config
!build/tools/Modules/
build/tools/Modules/*
!build/tools/Modules/packages.config

**/scriptcs_packages/
src/*-uwp/*.targets

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
.baseDir.ts
.userprefs
gulp-tsc-tmp*
Resource.Designer.cs
project.lock.json

*~
*.tmp.txt
*.userprefs
*.log
*.lock
*.sublime-project
*.sublime-workspace
*.sass-cache
*.suo
*.user
*.nupkg
*.bak
*.sw[mnpcod]
.idea/.idea.ble.net/.idea/vcs.xml
.idea/.idea.ble.net/.idea/libraries/Xamarin_Android_Support_Transition.xml
.idea/.idea.ble.net/.idea/libraries/Xamarin_Android_Support_Media_Compat.xml
.idea/.idea.ble.net/.idea/libraries/Xamarin_Android_Support_Fragment.xml
.idea/.idea.ble.net/.idea/libraries/Xamarin_Android_Support_Core_Utils.xml
.idea/.idea.ble.net/.idea/libraries/Xamarin_Android_Support_Core_UI.xml
.idea/.idea.ble.net/.idea/libraries/Xamarin_Android_Support_Compat.xml
.idea/.idea.ble.net/.idea/libraries/Xamarin_Android_Support_Animated_Vector_Drawable.xml
.idea/.idea.ble.net/.idea/libraries/guava_listenablefuture.xml
.idea/.idea.ble.net/.idea/libraries/com_google_android_material_material.xml
.idea/.idea.ble.net/.idea/libraries/com_android_support_support_vector_drawable.xml
.idea/.idea.ble.net/.idea/libraries/com_android_support_recyclerview_v7.xml
.idea/.idea.ble.net/.idea/libraries/com_android_support_design.xml
.idea/.idea.ble.net/.idea/libraries/com_android_support_appcompat_v7.xml
.idea/.idea.ble.net/.idea/libraries/androidx_viewpager_viewpager.xml
.idea/.idea.ble.net/.idea/libraries/androidx_viewpager2_viewpager2.xml
.idea/.idea.ble.net/.idea/libraries/androidx_versionedparcelable_versionedparcelable.xml
.idea/.idea.ble.net/.idea/libraries/androidx_vectordrawable_vectordrawable_animated.xml
.idea/.idea.ble.net/.idea/libraries/androidx_vectordrawable_vectordrawable.xml
.idea/.idea.ble.net/.idea/libraries/androidx_transition_transition.xml
.idea/.idea.ble.net/.idea/libraries/androidx_tracing_tracing.xml
.idea/.idea.ble.net/.idea/libraries/androidx_swiperefreshlayout_swiperefreshlayout.xml
.idea/.idea.ble.net/.idea/libraries/androidx_slidingpanelayout_slidingpanelayout.xml
.idea/.idea.ble.net/.idea/libraries/androidx_savedstate_savedstate.xml
.idea/.idea.ble.net/.idea/libraries/androidx_recyclerview_recyclerview.xml
.idea/.idea.ble.net/.idea/libraries/androidx_print_print.xml
.idea/.idea.ble.net/.idea/libraries/androidx_preference_preference.xml
.idea/.idea.ble.net/.idea/libraries/androidx_navigation_navigation_ui.xml
.idea/.idea.ble.net/.idea/libraries/androidx_navigation_navigation_runtime.xml
.idea/.idea.ble.net/.idea/libraries/androidx_navigation_navigation_common.xml
.idea/.idea.ble.net/.idea/libraries/androidx_media_media.xml
.idea/.idea.ble.net/.idea/libraries/androidx_localbroadcastmanager_localbroadcastmanager.xml
.idea/.idea.ble.net/.idea/libraries/androidx_loader_loader.xml
.idea/.idea.ble.net/.idea/libraries/androidx_lifecycle_lifecycle_viewmodel_savedstate.xml
.idea/.idea.ble.net/.idea/libraries/androidx_lifecycle_lifecycle_viewmodel.xml
.idea/.idea.ble.net/.idea/libraries/androidx_lifecycle_lifecycle_runtime.xml
.idea/.idea.ble.net/.idea/libraries/androidx_lifecycle_lifecycle_livedata_core.xml
.idea/.idea.ble.net/.idea/libraries/androidx_lifecycle_lifecycle_livedata.xml
.idea/.idea.ble.net/.idea/libraries/androidx_lifecycle_lifecycle_common.xml
.idea/.idea.ble.net/.idea/libraries/androidx_legacy_legacy_support_v4.xml
.idea/.idea.ble.net/.idea/libraries/androidx_legacy_legacy_support_core_utils.xml
.idea/.idea.ble.net/.idea/libraries/androidx_legacy_legacy_support_core_ui.xml
.idea/.idea.ble.net/.idea/libraries/androidx_interpolator_interpolator.xml
.idea/.idea.ble.net/.idea/libraries/androidx_fragment_fragment.xml
.idea/.idea.ble.net/.idea/libraries/androidx_dynamicanimation_dynamicanimation.xml
.idea/.idea.ble.net/.idea/libraries/androidx_drawerlayout_drawerlayout.xml
.idea/.idea.ble.net/.idea/libraries/androidx_documentfile_documentfile.xml
.idea/.idea.ble.net/.idea/libraries/androidx_customview_customview.xml
.idea/.idea.ble.net/.idea/libraries/androidx_cursoradapter_cursoradapter.xml
.idea/.idea.ble.net/.idea/libraries/androidx_core_core.xml
.idea/.idea.ble.net/.idea/libraries/androidx_coordinatorlayout_coordinatorlayout.xml
.idea/.idea.ble.net/.idea/libraries/androidx_constraintlayout_constraintlayout_core.xml
.idea/.idea.ble.net/.idea/libraries/androidx_constraintlayout_constraintlayout.xml
.idea/.idea.ble.net/.idea/libraries/androidx_concurrent_concurrent_futures.xml
.idea/.idea.ble.net/.idea/libraries/androidx_collection_collection.xml
.idea/.idea.ble.net/.idea/libraries/androidx_cardview_cardview.xml
.idea/.idea.ble.net/.idea/libraries/androidx_browser_browser.xml
.idea/.idea.ble.net/.idea/libraries/androidx_asynclayoutinflater_asynclayoutinflater.xml
.idea/.idea.ble.net/.idea/libraries/androidx_arch_core_core_runtime.xml
.idea/.idea.ble.net/.idea/libraries/androidx_arch_core_core_common.xml
.idea/.idea.ble.net/.idea/libraries/androidx_appcompat_appcompat_resources.xml
.idea/.idea.ble.net/.idea/libraries/androidx_appcompat_appcompat.xml
.idea/.idea.ble.net/.idea/libraries/androidx_annotation_annotation_experimental.xml
.idea/.idea.ble.net/.idea/libraries/androidx_annotation_annotation.xml
.idea/.idea.ble.net/.idea/libraries/androidx_activity_activity.xml
.idea/.idea.ble.net/.idea/indexLayout.xml
.idea/.idea.ble.net/.idea/encodings.xml
